<!DOCTYPE html>
<html lang="zh" data-theme="light">
<head>
    <title>{{.title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css?v=202503081749" rel="stylesheet">
    <link href="/static/css/calendar.css?v=202503081749" rel="stylesheet">
    <link href="/static/css/theme.css?v=202503081749" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="calendar">
            <div class="calendar-header">
                <div class="nav-controls">
                    <div class="nav-left">
                        <select id="yearSelect" class="year-select"></select>
                        <button id="prevMonth" class="btn btn-primary">上个月</button>
                        <button id="todayBtn" class="btn btn-primary">今天</button>
                        <button id="nextMonth" class="btn btn-primary">下个月</button>
                        <h2 id="currentMonth" class="current-month"></h2>
                        <span id="totalDiaryCount" class="diary-count">日记数量：0篇</span>
                        <button class="theme-switch btn btn-custom btn-outline-primary" id="themeSwitch" title="切换主题" style="display: none;">☀️</button>
                        <button id="themeSwitch" class="btn btn-primary theme-btn">🌙</button>
                    </div>
                </div>
            </div>
            <div class="weekday-header">
                <div class="col">一</div>
                <div class="col">二</div>
                <div class="col">三</div>
                <div class="col">四</div>
                <div class="col">五</div>
                <div class="col">六</div>
                <div class="col">日</div>
            </div>
            <div id="calendarGrid"></div>
        </div>
    </div>
    <script src="/static/js/theme.js?v=202503081749"></script>
    <script src="/static/js/calendar.js?v=202503081749"></script>
</body>
</html>
