<!DOCTYPE html>
<html lang="zh" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/calendar.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="calendar">
            <div class="calendar-header">
                <div class="d-flex flex-column">
                    <select id="yearSelect" class="form-select year-select"></select>
                    <span id="totalDiaryCount" class="diary-count">日记数量：0篇</span>
                    <h1 id="currentMonth" class="mb-0"></h1>
                    <div class="d-flex align-items-center">
                        <div class="btn-group">
                            <button id="prevMonth" class="btn btn-custom btn-outline-primary">＜ 上个月</button>
                            <button id="todayBtn" class="btn btn-custom btn-primary">今天</button>
                            <button id="nextMonth" class="btn btn-custom btn-outline-primary">下个月 ＞</button>
                            <button class="theme-switch btn btn-custom btn-outline-primary" id="themeSwitch" title="切换主题">☀️</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weekday-header">
                <div class="row">
                    <div class="col text-center">周一</div>
                    <div class="col text-center">周二</div>
                    <div class="col text-center">周三</div>
                    <div class="col text-center">周四</div>
                    <div class="col text-center">周五</div>
                    <div class="col text-center">周六</div>
                    <div class="col text-center">周日</div>
                </div>
            </div>
            <div id="calendarGrid" class="calendar-grid"></div>
        </div>
    </div>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/calendar.js"></script>
</body>
</html>
